*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.hero{
  width: 100%;
  height: 100vh;
  background-image: url(img/hero-bg.jpg);
  background-size: cover;
  background-position: center;
  position:-ms-page;
  overflow: hidden;
  -webkit-animation: animate-hero 1s linear infinite;
  animation: animate-hero 1s linear infinite;
}

.dynamic-text{
  line-height: px;
  overflow: hidden;
}
.dynamic-text li{
  color: white;
  list-style: none;
  margin-left: 15px;
  font-size: 40px;
  font-weight: 500;
  font-weight: bold;
  position: relative;
  top: 0;
  animation: alternate 6s steps(1) infinite;
}
@keyframes slide{
  100%{
    top: 30px;
  }
}
.dynamic-text li span{
  position: relative;
}
.dynamic-text li span::after{
  content: "";
  position: absolute;
  left: 0;
  height: 100%;
  width: 150%;
  background: #000;
  border-left: 2px solid white;
  animation: typing 1.5s steps(12) infinite;
}
@keyframes typing{
  100%{
    left: 110%;
    margin: 0 30px 0 30;
    speed: 0%;
  }
}

.navbar{
  width: 100%;
  height: 10vh;
  margin: auto;
  margin-top: 0;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

button{
  color: white;
  text-decoration: none;
  font-weight: bold;
  padding: 10px 25px;
  background: transparent;
  margin-right: 20px;
  border: 1px solid white;
  border-radius: 20px;
  outline: none;
  cursor: pointer;
}
button:hover{
  color: black;
  border-color: #ffc451;
  background-color: #ffc451;
}
button1{
  font-weight: bold;
  padding: 10px 25px;
  background: transparent;
  margin-right: 20px;
  border: 1px solid white;
  border-radius: 20px;
  outline: none;
  cursor: pointer;
}
button1 a{
  color: white;
  text-decoration: none;
}
button1:hover{
  color: white;
  background-color: #ffc451;
  
}
.content{
  color: #ffc451;
  margin-top: 42px;
  margin-left: 25px;
  font-size: 30px;
}
.content a{
  color: #ffc451;
  margin-top: 42px;
  position: absolute;
  transform: translateY(-50%);
  z-index: 2;
}
.content .col{
  color: #ffc451;
}


.hero h1 {
  color: #ffc451;
  margin: 0;
  font-size: 56px;
  font-weight: 700;
  line-height: 64px;
  color: #fff;
  font-family: "Poppins", sans-serif;
}
.hero h1 span {
  color: #ffc451;
}
.hero h2 {
  color: rgba(255, 255, 255, 0.9);
  margin: 10px 0 0 0;

  font-size: 24px;
}
.hero .icon-box {
  padding: 30px 20px;
  transition: ease-in-out 0.3s;
  border: 3px solid rgba(255, 254, 254, 0.3);
  height: 100%;
  margin-top: 6%;
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
}
.hero .icon-box i {
  font-size: 32px;
  line-height: 1;
  color: #ffc451;
}
.hero .icon-box h3 {
  font-weight: 700;
  margin: 10px 0 0 0;
  padding: 0;
  line-height: 1;
  font-size: 25px;
  line-height: 26px;
}
.hero .icon-box h3 a {
  color: #fff;
  text-decoration: none;
  transition: ease-in-out 0.3s;
}
.hero .icon-box h3 a:hover {
  color: #ffc451;
}
.hero .icon-box:hover {
  border-color: #ffc451;
}
@media (min-width: 1024px) {
  .hero {
    background-attachment: fixed;
  }
}
@media (max-width: 768px) {
  .hero {
    height: auto;
  }
  .hero h1 {
    font-size: 28px;
    line-height: 36px;
  }
  .hero h2 {
    font-size: 20px;
    line-height: 24px;
  }
}
.hero .icon-box img{
  width: 30%;
  transition: ease-in-out 0.5s;
  border-radius: 50px;
}
.containerr img{
  width: 414px;
  margin-top: 10px;
}
.containerr{
  height: 80vh;
  text-align: center;
  position: absolute;
  transform: translate("");
  width: 100%;
}

.containerr span{
  color: #000;
  text-transform: uppercase;
  margin-left: 0%;
  display: block;
}
.txt1{
  font-size: 29px;
  font-weight: 700;
  letter-spacing: 2px;
  margin-bottom: 10px;
  background: white;
  position: relative;
  animation: text 3s;
}
.txt2{
  font-size: 30px;
  color: black;
  margin-top: 10px;
}
  
@keyframes text{
    0%{
      color: white;
      margin-bottom: -38px;
    }
    30%{
      letter-spacing: 5px;
      margin-bottom: -38px;
    }
    85%{
      letter-spacing: 4px;
   }
}

 p{
  text-transform: uppercase;
   margin-top: 11%;
   margin-left: 10%;
   text-align: center;
  
  display: flex;
  
  font-size: 19px;
 }
 p a{
  font-weight: bold;
  font-family: cursive;
 }
 h .para{
  margin-bottom: 10%;
 }
 footer{
   background-color: rgb(29, 29, 29);
   height: 35px;
   color: #ffc451;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   font-size: 23px;
   position: center;
   font-weight: bold;
   margin-bottom: 0%;
 }
 .hero-1{
  width: 100%;
  height: 100vh;
  background-image: url(img/hero-1.jpg);
  background-size: cover;
  background-position: center;
  overflow: hidden;
  display: flex;
  margin-top: 9%;
 }
 .margin{
   margin-top: 20%;
   margin-bottom: 0;
   font-weight: bold;
   text-align: center;
   font-family: fantasy;
   font-size: 50px;
 }
 .hero-1 .icon-box {
  padding: 30px 20px;
  transition: ease-in-out 0.3s;
  border: 3px solid rgba(255, 254, 254, 0.3);
  height: 100%;
  margin-top: 6%;
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
}
.hero-1 .icon-box i {
  font-size: 32px;
  line-height: 1;
  color: #ffc451;
}
.hero-1 .icon-box h3 {
  font-weight: 700;
  margin: 10px 0 0 0;
  padding: 0;
  line-height: 1;
  font-size: 25px;
  line-height: 26px;
}
.hero-1 .icon-box h3 a {
  color: #fff;
  text-decoration: none;
  transition: ease-in-out 0.3s;
}
.hero-1 .icon-box h3 a:hover {
  color: #ffc451;
}
.hero-1 .icon-box:hover {
  border-color: #ffc451;
}
@media (min-width: 1024px) {
  .hero-1 {
    background-attachment: fixed;
  }
}
@media (max-width: 768px) {
  .hero-1 {
    height: auto;
  }
  .hero-1 h1 {
    font-size: 28px;
    line-height: 36px;
  }
  .hero-1 h2 {
    font-size: 20px;
    line-height: 24px;
  }
}
.hero-1 .icon-box img{
  width: 30%;
  transition: ease-in-out 0.5s;
  border-radius: 60px;
}
 